
    .spinner {
        border: 16px solid #98345439;
        border-radius: 50%;
        border-top: 16px solid #453553;
        width: 50px;
        height: 50px;
        -JS-animation: spin 1s linear infinite; 
        animation: spin 1s linear infinite;
      }
    
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      .loader-container{
          display: none;
      }
